# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PDFViewer.sdf
PDFViewer.v12.suo
ReleaseEditorUnicode/PDFViewer.exp
ReleaseEditorUnicode/PDFViewer.log
ReleaseEditorUnicode/PDFViewer.tlog/CL.read.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/CL.write.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link-cvtres.read.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link-cvtres.write.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.command.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.read.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.write.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/PDFViewer.write.1u.tlog
ReleaseEditorUnicode/PDFViewer.tlog/unsuccessfulbuild
ReleaseEditorUnicode/vc120.idb
ReleaseEditorUnicode/vc120.pdb
PDFViewer.sdf
PDFViewer.v12.suo
ReleaseEditorUnicode/PDFViewer.exp
ReleaseEditorUnicode/PDFViewer.log
ReleaseEditorUnicode/PDFViewer.tlog/CL.read.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/CL.write.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.command.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.read.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.write.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/PDFViewer.write.1u.tlog
ReleaseEditorUnicode/vc120.idb
ReleaseEditorUnicode/vc120.pdb
*.sdf
*.exp
PDFViewer.sdf
ReleaseEditorUnicode/PDFViewer.exp
ReleaseEditorUnicode/PDFViewer.log
ReleaseEditorUnicode/PDFViewer.tlog/CL.read.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/CL.write.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.command.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.read.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.write.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/PDFViewer.write.1u.tlog
ReleaseEditorUnicode/vc120.idb
ReleaseEditorUnicode/vc120.pdb
*.suo
PDFViewer.v12.suo
PDFViewer.sdf
ReleaseEditorUnicode/PDFViewer.exp
ReleaseEditorUnicode/PDFViewer.log
ReleaseEditorUnicode/PDFViewer.tlog/CL.read.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/CL.write.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.command.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.read.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.write.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/PDFViewer.write.1u.tlog
ReleaseEditorUnicode/vc120.idb
ReleaseEditorUnicode/vc120.pdb
PDFViewer.v12.suo
PDFViewer.sdf
ReleaseEditorUnicode/PDFViewer.tlog/link.command.1.tlog
ReleaseEditorUnicode/vc120.pdb
ReleaseEditorUnicode/vc120.idb
ReleaseEditorUnicode/PDFViewer.tlog/PDFViewer.write.1u.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.write.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.read.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/link.command.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/CL.write.1.tlog
ReleaseEditorUnicode/PDFViewer.tlog/CL.read.1.tlog
ReleaseEditorUnicode/PDFViewer.log
ReleaseEditorUnicode/PDFViewer.exp
PDFViewer.v12.suo
PDFViewer.sdf
